.gauge {
  width: 100%;
  max-width: 300px;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  margin: auto;
  color: #004033;
}

.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background:   #00ff2a;
  position: relative;
  /*border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;*/
  overflow: hidden;  
}

/* .gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #009578;
  transform-origin: center top;
  transform: rotate(25deg);
  transition: transform 0.2s ease-out;
}*/

/* 30% pointer*/
.gauge__fill {
  position: absolute;


  width: 2500px;
  height: 150px;

  top: 100%;
  right: 300px; 
  

  /*border-bottom-left-radius: 100% 200%;
  border-bottom-right-radius: 100% 200%;*/

  background: #d30303;
  transform-origin: top;
  transform: rotate( 0.5turn);
  transition: transform 0.2s ease-out;
}


.gauge__cover {
  width: 70px;
  height: 70px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 75px;
  right: 300px;
  
  transform: translateX(-50%);
  

  /* Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0%;
  box-sizing: border-box;
  
}


.gauge__previous {
  width: 350px;
  height: 75px;
  background: #ffffff;
  position: relative;
  left: 150px;
  margin:auto;
  transform: translateX(-50%);
  

  /* Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0%;
  box-sizing: border-box;
}


